@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Newsreader&display=swap');

/* index.cshtml */

.text-center{
    font-family: 'Newsreader', serif;
    /* font-family: 'Karla', sans-serif; */
    /* width: 90%; */
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: rgb(187, 207, 228) 5px solid;
    padding: 30px;
    border-radius: 10px;
}

label {
    font-size: 20px;
}

select {
    font-size: 18px;
    padding: 5px;
}

.formBox {
    width: 400px;
}

    .formBox span {
        color: orange;
    }

button {
    margin-top: 20px;
}
